 .titulos{
    padding: 10px;
  
}

.titulos:hover{
    color: var(--interactive-accent);
    cursor: pointer;
    background-color: transparent;
} 

 .my-container{
    height: 100%;
    padding: 10px;
    color: var(--interactive-accent);
} 

.Mydropdown{
    width: 100%;
    margin: 30px 0;
    box-shadow: 0 0 5px;
}
.Mydropdown:hover{
    color: var(--interactive-accent);
}

.searchBox{
    box-shadow: 0 0 5px;
}
.searchBox:hover{
    color: var(--interactive-accent);
}
